Repository alithya-oss/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

Updated backstage-community repo-tools
  .editorconfig
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .prettierignore
  .yarnrc.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  Taskfile.yml
  package.json
  scripts/.eslintrc.cjs
  scripts/ci/check-if-release.js
  scripts/ci/create-tag.js
  scripts/ci/generate-bump-changesets.js
  scripts/ci/generate-knip-report.js
  scripts/ci/generate-version-bump-changeset.js
  scripts/ci/list-workspaces-with-changes.js
  scripts/ci/set-release-name.js
  scripts/ci/verify-changesets.js
  scripts/ci/verify-lockfile-duplicates.js
  scripts/list-backend-feature.js
  scripts/list-compatibility.js
  scripts/list-frontend-feature.js
  scripts/list-workspaces-for-docs.js
  scripts/templates/copyright-header.txt
  workspaces/repo-tools/.changeset/dependabot-509e857.md
  workspaces/repo-tools/.eslintignore
  workspaces/repo-tools/.yarn/releases/yarn-4.6.0.cjs
  workspaces/repo-tools/.yarnrc.yml
  workspaces/repo-tools/packages/cli/CHANGELOG.md
  workspaces/repo-tools/packages/cli/src/commands/index.ts
  workspaces/repo-tools/packages/cli/src/commands/lint/lint-legacy-backend-exports.ts
  workspaces/repo-tools/packages/cli/src/commands/workspace/create.ts
  workspaces/repo-tools/packages/cli/src/index.ts
  workspaces/repo-tools/packages/cli/src/lib/errors.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/createWorkspace.ts
  yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

Updated pipeline
  .github/workflows/version-bump.yml
Owners: @alithya-oss/backstage-plugins-maintainers

Fixed scorecard action
  .github/workflows/scorecard.yml
Owners: @alithya-oss/backstage-plugins-maintainers

Fixed repo-tools
  .gitignore
  scripts/ci/check-if-release.js
  scripts/ci/create-tag.js
  scripts/ci/generate-bump-changesets.js
  scripts/ci/generate-knip-report.js
  scripts/ci/generate-version-bump-changeset.js
  scripts/ci/list-workspaces-with-changes.js
  scripts/ci/set-release-name.js
  scripts/ci/verify-changesets.js
  scripts/ci/verify-lockfile-duplicates.js
  scripts/list-backend-feature.js
  scripts/list-compatibility.js
  scripts/list-frontend-feature.js
  scripts/list-workspaces-for-docs.js
  workspaces/repo-tools/packages/cli/src/commands/index.ts
Owners: @alithya-oss/backstage-plugins-maintainers

chore: exécution de task sync:repo-tools
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
  scripts/list-frontend-feature.js
  workspaces/repo-tools/bcp.json
  workspaces/repo-tools/package.json
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/bcp.json.hbs
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/package.json.hbs
  workspaces/repo-tools/yarn.lock
  yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

Drop node 18, add node 24
  .github/workflows/ci.yml
  package.json
  workspaces/aws/package.json
  workspaces/aws/packages/backend/Dockerfile
  workspaces/changelog/package.json
  workspaces/confluence/package.json
  workspaces/confluence/packages/backend/Dockerfile
  workspaces/rag-ai/package.json
  workspaces/rag-ai/packages/backend/Dockerfile
  workspaces/repo-tools/package.json
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/package.json.hbs
  workspaces/tech-insights/package.json
  workspaces/time-saver/package.json
  workspaces/time-saver/packages/backend/Dockerfile
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

Upgrade to yarn 4.13
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  Taskfile.yml
  package.json
  workspaces/aws/.yarn/releases/yarn-4.13.0.cjs
  workspaces/aws/.yarn/releases/yarn-4.9.1.cjs
  workspaces/aws/.yarnrc.yml
  workspaces/aws/package.json
  workspaces/changelog/.yarn/releases/yarn-4.13.0.cjs
  workspaces/changelog/.yarn/releases/yarn-4.9.1.cjs
  workspaces/changelog/.yarnrc.yml
  workspaces/changelog/package.json
  workspaces/confluence/.yarn/releases/yarn-4.13.0.cjs
  workspaces/confluence/.yarn/releases/yarn-4.9.1.cjs
  workspaces/confluence/.yarnrc.yml
  workspaces/confluence/package.json
  workspaces/rag-ai/.yarn/releases/yarn-4.13.0.cjs
  workspaces/rag-ai/.yarn/releases/yarn-4.9.1.cjs
  workspaces/rag-ai/.yarnrc.yml
  workspaces/rag-ai/package.json
  workspaces/tech-insights/.yarn/releases/yarn-4.13.0.cjs
  workspaces/tech-insights/.yarn/releases/yarn-4.9.1.cjs
  workspaces/tech-insights/.yarnrc.yml
  workspaces/tech-insights/package.json
  workspaces/time-saver/.yarn/releases/yarn-4.13.0.cjs
  workspaces/time-saver/.yarn/releases/yarn-4.9.1.cjs
  workspaces/time-saver/.yarnrc.yml
  workspaces/time-saver/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

chore(rag-ai): bump framework version 1.49.3
  workspaces/rag-ai/backstage.json
  workspaces/rag-ai/package.json
  workspaces/rag-ai/packages/app/package.json
  workspaces/rag-ai/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/rag-ai/packages/backend/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-aws/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-aws/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-openai/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-openai/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend-module-bedrock/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-module-openai/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-retrieval-augmenter/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-retrieval-augmenter/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend/package.json
  workspaces/rag-ai/plugins/rag-ai-backend/src/service/LlmService.ts
  workspaces/rag-ai/plugins/rag-ai-node/package.json
  workspaces/rag-ai/plugins/rag-ai-storage-pgvector/package.json
  workspaces/rag-ai/plugins/rag-ai-storage-pgvector/report.api.md
  workspaces/rag-ai/plugins/rag-ai/package.json
  workspaces/rag-ai/plugins/rag-ai/report.api.md
  workspaces/rag-ai/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(time-saver): bump framework version 1.49.3
  workspaces/time-saver/backstage.json
  workspaces/time-saver/package.json
  workspaces/time-saver/packages/app/package.json
  workspaces/time-saver/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/time-saver/packages/backend/package.json
  workspaces/time-saver/plugins/catalog-backend-module-time-saver-processor/package.json
  workspaces/time-saver/plugins/time-saver-backend/package.json
  workspaces/time-saver/plugins/time-saver-common/package.json
  workspaces/time-saver/plugins/time-saver-react/package.json
  workspaces/time-saver/plugins/time-saver/package.json
  workspaces/time-saver/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @ionSurf

chore(confluence): bump framework version 1.49.3
  workspaces/confluence/backstage.json
  workspaces/confluence/package.json
  workspaces/confluence/packages/app/package.json
  workspaces/confluence/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/confluence/packages/backend/package.json
  workspaces/confluence/plugins/confluence/package.json
  workspaces/confluence/plugins/confluence/report.api.md
  workspaces/confluence/plugins/search-backend-module-confluence-collator/package.json
  workspaces/confluence/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(changelog): bump framework version 1.49.3
  workspaces/changelog/backstage.json
  workspaces/changelog/package.json
  workspaces/changelog/packages/app/package.json
  workspaces/changelog/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/changelog/packages/backend/package.json
  workspaces/changelog/plugins/changelog-backend/package.json
  workspaces/changelog/plugins/changelog/package.json
  workspaces/changelog/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(tech-insights): bump framework version 1.49.3
  workspaces/tech-insights/backstage.json
  workspaces/tech-insights/package.json
  workspaces/tech-insights/packages/app/package.json
  workspaces/tech-insights/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/tech-insights/packages/app/src/index.tsx
  workspaces/tech-insights/packages/backend/package.json
  workspaces/tech-insights/plugins/tech-insights-backend-module-catalog-entities/package.json
  workspaces/tech-insights/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(yarn): bump version 4.13.0
  .yarn/plugins/@yarnpkg/plugin-backstage.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  Taskfile.yml
  package.json
  workspaces/aws/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/aws/.yarn/releases/yarn-4.9.1.cjs
  workspaces/aws/.yarnrc.yml
  workspaces/aws/package.json
  workspaces/changelog/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/changelog/.yarn/releases/yarn-4.9.1.cjs
  workspaces/changelog/.yarnrc.yml
  workspaces/changelog/package.json
  workspaces/confluence/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/confluence/.yarn/releases/yarn-4.9.1.cjs
  workspaces/confluence/.yarnrc.yml
  workspaces/confluence/package.json
  workspaces/rag-ai/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/rag-ai/.yarn/releases/yarn-4.9.1.cjs
  workspaces/rag-ai/.yarnrc.yml
  workspaces/rag-ai/package.json
  workspaces/tech-insights/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/tech-insights/.yarn/releases/yarn-4.9.1.cjs
  workspaces/tech-insights/.yarnrc.yml
  workspaces/tech-insights/package.json
  workspaces/time-saver/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/time-saver/.yarn/releases/yarn-4.9.1.cjs
  workspaces/time-saver/.yarnrc.yml
  workspaces/time-saver/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

chore(plugins): added changesets
  workspaces/aws/.changeset/wise-worms-wave.md
  workspaces/changelog/.changeset/twenty-tomatoes-heal.md
  workspaces/confluence/.changeset/pretty-comics-nail.md
  workspaces/rag-ai/.changeset/beige-phones-trade.md
  workspaces/tech-insights/.changeset/tough-icons-laugh.md
  workspaces/time-saver/.changeset/lemon-jobs-sniff.md
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

Potential fix for code scanning alert no. 50: Incomplete URL substring sanitization
  workspaces/confluence/plugins/techdocs-backend-module-confluence/src/ConfluencePreparer.ts
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

feat(repo-tools): align with upstream
  .husky/pre-commit
  package.json
  scripts/ci/list-workspaces-with-changes.js
  scripts/ci/set-release-name.js
  scripts/list-workspaces-for-docs.js
  workspaces/repo-tools/.changeset/version-bump-1-48-2.md
  workspaces/repo-tools/.prettierignore
  workspaces/repo-tools/backstage.json
  workspaces/repo-tools/bcp.json
  workspaces/repo-tools/package.json
  workspaces/repo-tools/packages/cli/knip-report.md
  workspaces/repo-tools/packages/cli/package.json
  workspaces/repo-tools/packages/cli/src/commands/index.ts
  workspaces/repo-tools/packages/cli/src/commands/workspace/create.ts
  workspaces/repo-tools/packages/cli/src/index.ts
  workspaces/repo-tools/packages/cli/src/lib/errors.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/createWorkspace.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/README.md.hbs
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/bcp.json.hbs
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/package.json.hbs
  workspaces/repo-tools/yarn.lock
  yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

feat(ci): bump node versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/release_workspace.yml
  .github/workflows/version-bump.yml
Owners: @alithya-oss/backstage-plugins-maintainers

fix(plugins): bump better-sqlite3 version 12.x
  workspaces/aws/packages/backend/package.json
  workspaces/changelog/packages/backend/package.json
  workspaces/confluence/packages/backend/package.json
  workspaces/rag-ai/packages/backend/package.json
  workspaces/tech-insights/packages/backend/package.json
  workspaces/time-saver/packages/backend/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

feat(aws): bump aws-sdk dependencies
  workspaces/aws/.yarnrc.yml
  workspaces/aws/plugins/amazon-ecs-backend/package.json
  workspaces/aws/plugins/amazon-ecs-common/package.json
  workspaces/aws/plugins/amazon-ecs/package.json
  workspaces/aws/plugins/aws-apps-backend/package.json
  workspaces/aws/plugins/aws-apps-common/package.json
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/aws/plugins/aws-codebuild-backend/package.json
  workspaces/aws/plugins/aws-codebuild-common/package.json
  workspaces/aws/plugins/aws-codebuild/package.json
  workspaces/aws/plugins/aws-codepipeline-backend/package.json
  workspaces/aws/plugins/aws-codepipeline-common/package.json
  workspaces/aws/plugins/aws-codepipeline/package.json
  workspaces/aws/plugins/aws-core-node/package.json
  workspaces/aws/plugins/aws-cost-insights-backend/package.json
  workspaces/aws/plugins/aws-cost-insights-common/package.json
  workspaces/aws/plugins/aws-cost-insights/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/module.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-core/package.json
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

fix(aws): applied scaffolder 2.0 zod migration
  workspaces/aws/.yarnrc.yml
  workspaces/aws/package.json
  workspaces/aws/packages/app/package.json
  workspaces/aws/plugins/amazon-ecs/package.json
  workspaces/aws/plugins/amazon-ecs/src/hooks/useEcsServices.ts
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/aws/plugins/aws-apps/report.api.md
  workspaces/aws/plugins/aws-apps/src/components/AppCatalogPage/AppCatalogPage.tsx
  workspaces/aws/plugins/aws-apps/src/hooks/useAwsApp.tsx
  workspaces/aws/plugins/aws-codebuild/package.json
  workspaces/aws/plugins/aws-codebuild/src/hooks/useProjects.ts
  workspaces/aws/plugins/aws-codepipeline/package.json
  workspaces/aws/plugins/aws-codepipeline/src/hooks/usePipelineExecutions.ts
  workspaces/aws/plugins/aws-codepipeline/src/hooks/usePipelineState.ts
  workspaces/aws/plugins/aws-cost-insights/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/report.api.md
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-repo-access-token/create-repoAccesstoken.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-s3-bucket/create-s3-bucket.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-secret/create-secret.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-component-info/get-component-info.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-env-providers/get-env-providers.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-platform-metadata/get-platform-metadata.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-platform-parameters/get-platform-parameters.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-ssm-parameters/get-ssm-parameters.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/helpers/action-context.ts
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

feat(repo-tools): bump version 0.2.0
  workspaces/repo-tools/.changeset/version-bump-1-49-2.md
  workspaces/repo-tools/.prettierignore
  workspaces/repo-tools/backstage.json
  workspaces/repo-tools/bcp.json
  workspaces/repo-tools/package.json
  workspaces/repo-tools/packages/cli/CHANGELOG.md
  workspaces/repo-tools/packages/cli/knip-report.md
  workspaces/repo-tools/packages/cli/package.json
  workspaces/repo-tools/packages/cli/src/commands/index.ts
  workspaces/repo-tools/packages/cli/src/commands/lint/lint-legacy-backend-exports.ts
  workspaces/repo-tools/packages/cli/src/commands/plugin/migrate.ts
  workspaces/repo-tools/packages/cli/src/commands/workspace/create.ts
  workspaces/repo-tools/packages/cli/src/index.ts
  workspaces/repo-tools/packages/cli/src/lib/errors.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/createWorkspace.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/README.md.hbs
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/bcp.json.hbs
  workspaces/repo-tools/packages/cli/src/lib/workspaces/templates/workspace/package.json.hbs
  workspaces/repo-tools/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

chore(changelog): bump framework version 1.49.3
  workspaces/changelog/backstage.json
  workspaces/changelog/package.json
  workspaces/changelog/packages/app/package.json
  workspaces/changelog/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/changelog/packages/backend/package.json
  workspaces/changelog/plugins/changelog-backend/package.json
  workspaces/changelog/plugins/changelog/package.json
  workspaces/changelog/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(time-saver): bump framework version 1.49.3
  workspaces/time-saver/backstage.json
  workspaces/time-saver/package.json
  workspaces/time-saver/packages/app/package.json
  workspaces/time-saver/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/time-saver/packages/backend/package.json
  workspaces/time-saver/plugins/catalog-backend-module-time-saver-processor/package.json
  workspaces/time-saver/plugins/time-saver-backend/package.json
  workspaces/time-saver/plugins/time-saver-common/package.json
  workspaces/time-saver/plugins/time-saver-react/package.json
  workspaces/time-saver/plugins/time-saver/package.json
  workspaces/time-saver/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @ionSurf

Potential fix for code scanning alert no. 50: Incomplete URL substring sanitization
  workspaces/confluence/plugins/techdocs-backend-module-confluence/src/ConfluencePreparer.ts
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(tech-insights): bump framework version 1.49.3
  workspaces/tech-insights/backstage.json
  workspaces/tech-insights/package.json
  workspaces/tech-insights/packages/app/package.json
  workspaces/tech-insights/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/tech-insights/packages/app/src/index.tsx
  workspaces/tech-insights/packages/backend/package.json
  workspaces/tech-insights/plugins/tech-insights-backend-module-catalog-entities/package.json
  workspaces/tech-insights/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(yarn): bump version 4.13.0
  .yarn/plugins/@yarnpkg/plugin-backstage.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  Taskfile.yml
  package.json
  workspaces/aws/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/aws/.yarn/releases/yarn-4.9.1.cjs
  workspaces/aws/.yarnrc.yml
  workspaces/aws/package.json
  workspaces/changelog/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/changelog/.yarn/releases/yarn-4.9.1.cjs
  workspaces/changelog/.yarnrc.yml
  workspaces/changelog/package.json
  workspaces/confluence/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/confluence/.yarn/releases/yarn-4.9.1.cjs
  workspaces/confluence/.yarnrc.yml
  workspaces/confluence/package.json
  workspaces/rag-ai/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/rag-ai/.yarn/releases/yarn-4.9.1.cjs
  workspaces/rag-ai/.yarnrc.yml
  workspaces/rag-ai/package.json
  workspaces/tech-insights/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/tech-insights/.yarn/releases/yarn-4.9.1.cjs
  workspaces/tech-insights/.yarnrc.yml
  workspaces/tech-insights/package.json
  workspaces/time-saver/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/time-saver/.yarn/releases/yarn-4.9.1.cjs
  workspaces/time-saver/.yarnrc.yml
  workspaces/time-saver/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

chore(rag-ai): bump framework version 1.49.3
  workspaces/rag-ai/backstage.json
  workspaces/rag-ai/package.json
  workspaces/rag-ai/packages/app/package.json
  workspaces/rag-ai/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/rag-ai/packages/backend/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-aws/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-aws/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-openai/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-embeddings-openai/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend-module-bedrock/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-module-openai/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-retrieval-augmenter/package.json
  workspaces/rag-ai/plugins/rag-ai-backend-retrieval-augmenter/report.api.md
  workspaces/rag-ai/plugins/rag-ai-backend/package.json
  workspaces/rag-ai/plugins/rag-ai-backend/src/service/LlmService.ts
  workspaces/rag-ai/plugins/rag-ai-node/package.json
  workspaces/rag-ai/plugins/rag-ai-storage-pgvector/package.json
  workspaces/rag-ai/plugins/rag-ai-storage-pgvector/report.api.md
  workspaces/rag-ai/plugins/rag-ai/package.json
  workspaces/rag-ai/plugins/rag-ai/report.api.md
  workspaces/rag-ai/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

chore(plugins): added changesets
  workspaces/aws/.changeset/wise-worms-wave.md
  workspaces/changelog/.changeset/twenty-tomatoes-heal.md
  workspaces/confluence/.changeset/pretty-comics-nail.md
  workspaces/rag-ai/.changeset/beige-phones-trade.md
  workspaces/tech-insights/.changeset/tough-icons-laugh.md
  workspaces/time-saver/.changeset/lemon-jobs-sniff.md
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

chore(confluence): bump framework version 1.49.3
  workspaces/confluence/backstage.json
  workspaces/confluence/package.json
  workspaces/confluence/packages/app/package.json
  workspaces/confluence/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/confluence/packages/backend/package.json
  workspaces/confluence/plugins/confluence/package.json
  workspaces/confluence/plugins/confluence/report.api.md
  workspaces/confluence/plugins/search-backend-module-confluence-collator/package.json
  workspaces/confluence/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith

feat(ci): bump node versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/release_workspace.yml
  .github/workflows/version-bump.yml
Owners: @alithya-oss/backstage-plugins-maintainers

fix(plugins): bump better-sqlite3 version 12.x
  workspaces/aws/packages/backend/package.json
  workspaces/changelog/packages/backend/package.json
  workspaces/confluence/packages/backend/package.json
  workspaces/rag-ai/packages/backend/package.json
  workspaces/tech-insights/packages/backend/package.json
  workspaces/time-saver/packages/backend/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

feat(repo-tools): align with upstream
  .husky/pre-commit
  package.json
  scripts/ci/list-workspaces-with-changes.js
  scripts/ci/set-release-name.js
  scripts/list-workspaces-for-docs.js
  workspaces/repo-tools/.changeset/version-bump-1-48-2.md
  workspaces/repo-tools/packages/cli/src/commands/index.ts
  workspaces/repo-tools/packages/cli/src/commands/workspace/create.ts
  workspaces/repo-tools/packages/cli/src/index.ts
  workspaces/repo-tools/packages/cli/src/lib/errors.ts
  workspaces/repo-tools/packages/cli/src/lib/workspaces/createWorkspace.ts
  workspaces/repo-tools/yarn.lock
  yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

fix(aws): applied scaffolder 2.0 zod migration
  workspaces/aws/.yarnrc.yml
  workspaces/aws/package.json
  workspaces/aws/packages/app/package.json
  workspaces/aws/plugins/amazon-ecs/package.json
  workspaces/aws/plugins/amazon-ecs/src/hooks/useEcsServices.ts
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/aws/plugins/aws-apps/report.api.md
  workspaces/aws/plugins/aws-apps/src/components/AppCatalogPage/AppCatalogPage.tsx
  workspaces/aws/plugins/aws-apps/src/hooks/useAwsApp.tsx
  workspaces/aws/plugins/aws-codebuild/package.json
  workspaces/aws/plugins/aws-codebuild/src/hooks/useProjects.ts
  workspaces/aws/plugins/aws-codepipeline/package.json
  workspaces/aws/plugins/aws-codepipeline/src/hooks/usePipelineExecutions.ts
  workspaces/aws/plugins/aws-codepipeline/src/hooks/usePipelineState.ts
  workspaces/aws/plugins/aws-cost-insights/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/report.api.md
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-repo-access-token/create-repoAccesstoken.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-s3-bucket/create-s3-bucket.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/create-secret/create-secret.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-component-info/get-component-info.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-env-providers/get-env-providers.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-platform-metadata/get-platform-metadata.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-platform-parameters/get-platform-parameters.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/actions/get-ssm-parameters/get-ssm-parameters.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/helpers/action-context.ts
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

feat(aws): bump aws-sdk dependencies
  workspaces/aws/.yarnrc.yml
  workspaces/aws/plugins/amazon-ecs-backend/package.json
  workspaces/aws/plugins/amazon-ecs-common/package.json
  workspaces/aws/plugins/amazon-ecs/package.json
  workspaces/aws/plugins/aws-apps-backend/package.json
  workspaces/aws/plugins/aws-apps-common/package.json
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/aws/plugins/aws-codebuild-backend/package.json
  workspaces/aws/plugins/aws-codebuild-common/package.json
  workspaces/aws/plugins/aws-codebuild/package.json
  workspaces/aws/plugins/aws-codepipeline-backend/package.json
  workspaces/aws/plugins/aws-codepipeline-common/package.json
  workspaces/aws/plugins/aws-codepipeline/package.json
  workspaces/aws/plugins/aws-core-node/package.json
  workspaces/aws/plugins/aws-cost-insights-backend/package.json
  workspaces/aws/plugins/aws-cost-insights-common/package.json
  workspaces/aws/plugins/aws-cost-insights/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/package.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/src/module.ts
  workspaces/aws/plugins/scaffolder-backend-module-aws-core/package.json
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

feat(aws): replaced dependencies on @mui to @material-ui
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/aws/plugins/aws-apps/src/components/AppConfigCard/AppConfigCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/AppPromoCard/AppPromoCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/AppPromoCard/AwsEksEnvPromoDialog.tsx
  workspaces/aws/plugins/aws-apps/src/components/AppStateCard/AppStateCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/AppStateCardCloudFormation/AppStateCardCloudFormation.tsx
  workspaces/aws/plugins/aws-apps/src/components/AppView/AppView.tsx
  workspaces/aws/plugins/aws-apps/src/components/AuditTable/AuditTable.tsx
  workspaces/aws/plugins/aws-apps/src/components/AwsEnvironmentProviderCard/AwsEnvironmentProviderCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/AwsEnvironmentProviderCard/AwsEnvironmentProviderSelectorDialog.tsx
  workspaces/aws/plugins/aws-apps/src/components/CloudwatchLogsTable/CloudwatchLogsTable.tsx
  workspaces/aws/plugins/aws-apps/src/components/DeleteComponentCard/DeleteComponentCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/DeleteEnvironmentCard/DeleteEnvironmentCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/DeleteProviderCard/DeleteProviderCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/EnvironmentSelector/EnvironmentSelector.tsx
  workspaces/aws/plugins/aws-apps/src/components/GeneralInfoCard/GeneralInfoCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/InfrastructureCard/ResourceDetailsDialog.tsx
  workspaces/aws/plugins/aws-apps/src/components/InfrastructureCard/ServiceComponent.tsx
  workspaces/aws/plugins/aws-apps/src/components/K8sAppStateCard/K8sAppStateCard.tsx
  workspaces/aws/plugins/aws-apps/src/components/ResourceBindingCard/ResourceBinding.tsx
  workspaces/aws/plugins/aws-apps/src/components/ResourceBindingCard/ResourceSelectorDialog.tsx
  workspaces/aws/plugins/aws-apps/src/components/common/SecretStringComponent.tsx
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/report.api.md
  workspaces/aws/tsconfig.json
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

feat(aws): migrated workspace app to the new frontend system
  .kiro/steering/backstage-frontend-migration.md
  backstage.json
  workspaces/aws/.yarnrc.yml
  workspaces/aws/app-config.yaml
  workspaces/aws/packages/app/package.json
  workspaces/aws/packages/app/src/App.test.tsx
  workspaces/aws/packages/app/src/App.tsx
  workspaces/aws/packages/app/src/apis.ts
  workspaces/aws/packages/app/src/components/Root/Root.tsx
  workspaces/aws/packages/app/src/components/Root/index.ts
  workspaces/aws/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/aws/packages/app/src/components/search/SearchPage.tsx
  workspaces/aws/packages/app/src/index.tsx
  workspaces/aws/packages/app/src/modules/nav/LogoFull.tsx
  workspaces/aws/packages/app/src/modules/nav/LogoIcon.tsx
  workspaces/aws/packages/app/src/modules/nav/Sidebar.tsx
  workspaces/aws/packages/app/src/modules/nav/SidebarLogo.tsx
  workspaces/aws/packages/app/src/modules/nav/index.ts
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

chore: bump yarn version 4.14.1
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  workspaces/aws/.yarnrc.yml
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/report.api.md
  workspaces/aws/yarn.lock
  workspaces/changelog/yarn.lock
  workspaces/confluence/yarn.lock
  workspaces/rag-ai/yarn.lock
  workspaces/tech-insights/yarn.lock
  workspaces/time-saver/yarn.lock
  yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

feat(aws): remove plugin level tsconfig
  workspaces/aws/plugins/aws-apps-backend/tsconfig.json
  workspaces/aws/plugins/aws-apps-common/tsconfig.json
  workspaces/aws/plugins/aws-apps/tsconfig.json
  workspaces/aws/plugins/catalog-backend-module-aws-apps-entities-processor/tsconfig.json
  workspaces/aws/plugins/scaffolder-backend-module-aws-apps/tsconfig.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

fix: ci
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/repo-tools/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

fix: ci
  workspaces/aws/plugins/aws-apps/package.json
  workspaces/repo-tools/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @alithya-oss/backstage-plugins-maintainers
yarn.lock                                           @alithya-oss/backstage-plugins-maintainers
*/yarn.lock                                         @alithya-oss/backstage-plugins-maintainers

/workspaces/aws                                     @alithya-oss/backstage-plugins-maintainers @fjudith @nizarajroud
/workspaces/changelog                               @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/confluence                              @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/rag-ai                                  @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/tech-insights                           @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/time-saver                              @alithya-oss/backstage-plugins-maintainers @ionSurf
