Repository alithya-oss/backstage-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

fix(argo-workflows): passed ci `yarn tsc`, `yarn lint`, `yarn fix`, yarn test`, `yarn build:api-reports`, `yarn backstage-repo-tools knip-reports`
  workspaces/argo-workflows/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/argo-workflows/.yarnrc.yml
  workspaces/argo-workflows/backstage.json
  workspaces/argo-workflows/plugins/argo-workflows-backend/knip-report.md
  workspaces/argo-workflows/plugins/argo-workflows-backend/package.json
  workspaces/argo-workflows/plugins/argo-workflows-backend/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/router.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/service/ArgoWorkflowsService.test.ts
  workspaces/argo-workflows/plugins/argo-workflows-common/knip-report.md
  workspaces/argo-workflows/plugins/argo-workflows-common/package.json
  workspaces/argo-workflows/plugins/argo-workflows-common/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-common/src/annotations.ts
  workspaces/argo-workflows/plugins/argo-workflows-common/src/types.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/knip-report.md
  workspaces/argo-workflows/plugins/argo-workflows-react/package.json
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusBadge.tsx
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusIcon.tsx
  workspaces/argo-workflows/plugins/argo-workflows-react/src/hooks/useArgoWorkflowDetail.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/src/hooks/useArgoWorkflows.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/src/utils/buildDAG.ts
  workspaces/argo-workflows/plugins/argo-workflows/knip-report.md
  workspaces/argo-workflows/plugins/argo-workflows/package.json
  workspaces/argo-workflows/plugins/argo-workflows/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows/src/plugin.ts
  workspaces/argo-workflows/tsconfig.json
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): ran yarn fix --publish
  workspaces/argo-workflows/plugins/argo-workflows-common/package.json
  workspaces/argo-workflows/plugins/argo-workflows-react/package.json
  workspaces/argo-workflows/plugins/argo-workflows/package.json
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): added configuration schema
  workspaces/argo-workflows/plugins/argo-workflows-backend/config.d.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/package.json
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): update api reports
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): added message to the node detail panel
  workspaces/argo-workflows/plugins/argo-workflows-react/src/utils/buildDAG.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): added kubernetes cluster qerying support for argo worflows controller-only deployments
  workspaces/argo-workflows/plugins/argo-workflows-backend/config.d.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/package.json
  workspaces/argo-workflows/plugins/argo-workflows-backend/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/router.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/service/ArgoWorkflowsService.test.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/service/ArgoWorkflowsService.ts
  workspaces/argo-workflows/plugins/argo-workflows-common/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-react/src/hooks/useArgoWorkflows.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/Router.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): node detail card size
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-worlflows): added expansion indicator
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): insert the table in a container
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/helpers.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

chore: update api reports
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): remove alpha api report
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
  workspaces/aws/package.json
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

fix(aws): lockfile
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

fix(argo-workflows): review lockfile
  workspaces/aws/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud

feat(argo-workflows): removed namespace column and concatenate it with the name
  workspaces/argo-workflows/plugins/argo-workflows-react/package.json
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusIcon.module.css
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusIcon.tsx
  workspaces/argo-workflows/plugins/argo-workflows/package.json
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

refactor(argo-workflows): add helper related to dag rendering
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGInline.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGView.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/dagHelpers.ts
Owners: @alithya-oss/backstage-plugins-maintainers

refactor(argo-workflows): implement helper and utils to reduce the workflow runs table code complexity
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/helpers.test.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/helpers.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/utils.test.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/utils.ts
Owners: @alithya-oss/backstage-plugins-maintainers

fix: accidential renaming
  workspaces/aws/package.json
  workspaces/aws/plugins/aws-apps/README.md
  workspaces/aws/plugins/aws-apps/src/components/CICDContent/CICDContent.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsAppPage/AwsAppPage.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsECSEnvironmentProviderPage/AwsECSEnvironmentProviderPage.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsEKSEnvironmentProviderPage/AwsEKSEnvironmentProviderPage.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsPendingPage/AwsPendingPage.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsResourcePage/AwsResourcePage.tsx
  workspaces/aws/plugins/aws-apps/src/pages/AwsServerlessEnvironmentProviderPage/AwsServerlessEnvironmentProviderPage.tsx
  workspaces/aws/yarn.lock
  workspaces/changelog/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/rag-ai/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/repo-tools/packages/cli/src/commands/plugin/migrate.ts
  workspaces/tech-insights/packages/app/package.json
  workspaces/tech-insights/packages/app/src/components/catalog/EntityPage.tsx
  workspaces/tech-insights/packages/backend/package.json
  workspaces/tech-insights/packages/backend/src/index.ts
  workspaces/tech-insights/plugins/tech-insights-backend-module-catalog-entities/package.json
  workspaces/tech-insights/plugins/tech-insights-backend-module-catalog-entities/src/fact/factRetrievers/apiDefinitionFactRetriever.ts
  workspaces/tech-insights/plugins/tech-insights-backend-module-catalog-entities/src/module.ts
  workspaces/tech-insights/yarn.lock
  workspaces/time-saver/packages/app/src/components/catalog/EntityPage.tsx
Owners: @alithya-oss/backstage-plugins-maintainers, @fjudith, @nizarajroud, @ionSurf

docs(argo-workflows): added documentation
  workspaces/argo-workflows/README.md
  workspaces/argo-workflows/plugins/argo-workflows-backend/README.md
  workspaces/argo-workflows/plugins/argo-workflows-common/README.md
  workspaces/argo-workflows/plugins/argo-workflows-react/README.md
  workspaces/argo-workflows/plugins/argo-workflows/README.md
  workspaces/argo-workflows/plugins/argo-workflows/docs/media/workflow-table-dark.png
  workspaces/argo-workflows/plugins/argo-workflows/docs/media/workflow-table-expanded-dark.png
  workspaces/argo-workflows/plugins/argo-workflows/docs/media/workflow-table-expanded.png
  workspaces/argo-workflows/plugins/argo-workflows/docs/media/workflow-table.png
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): regenerate lockfile
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

fix: api reports
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): add instance type column containing either the argo or kubernetes icon
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/router.ts
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/service/ArgoWorkflowsService.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/src/hooks/useArgoInstances.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/src/hooks/useArgoWorkflows.ts
  workspaces/argo-workflows/plugins/argo-workflows-react/src/index.ts
  workspaces/argo-workflows/plugins/argo-workflows/dev/index.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/images/icons.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): added endpoint for the new frontend system
  workspaces/argo-workflows/plugins/argo-workflows/package.json
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
  workspaces/argo-workflows/plugins/argo-workflows/src/alpha.tsx
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): updated specs documents
  .kiro/specs/argo-workflows/design.md
  .kiro/specs/argo-workflows/requirements.md
  .kiro/specs/argo-workflows/tasks.md
Owners: @alithya-oss/backstage-plugins-maintainers

fix: prettier
  workspaces/argo-workflows/.yarnrc.yml
  workspaces/argo-workflows/app-config.yaml
  workspaces/argo-workflows/catalog-info.yaml
Owners: @alithya-oss/backstage-plugins-maintainers

feat(ci): updated actions versions
  .github/workflows/automate-staleness.yml
  .github/workflows/automate_changeset_feedback.yml
  .github/workflows/automate_renovate_changeset.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/cron.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/release_workspace.yml
  .github/workflows/renovate.yaml
  .github/workflows/scorecard.yml
Owners: @alithya-oss/backstage-plugins-maintainers

fix(argo-workflows): regenerate alpha api report
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

refactor(argo-workflows): code deduplication
  workspaces/argo-workflows/plugins/argo-workflows-backend/README.md
  workspaces/argo-workflows/plugins/argo-workflows-common/README.md
  workspaces/argo-workflows/plugins/argo-workflows-react/README.md
  workspaces/argo-workflows/plugins/argo-workflows/README.md
  workspaces/argo-workflows/plugins/argo-workflows/src/components/NodeDetailPanel.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGInline.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGView.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowRunsTable.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/utils.ts
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): updated api-reports
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

refactor(argo-workflows): ensure compliance with backstage adrs
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusBadge.tsx
  workspaces/argo-workflows/plugins/argo-workflows-react/src/components/WorkflowStatusIcon.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): leverage luxon for date formatting
  workspaces/argo-workflows/plugins/argo-workflows/package.json
  workspaces/argo-workflows/plugins/argo-workflows/src/components/helpers.test.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/testUtils.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/utils.test.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/utils.ts
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

chore: update api reports
  workspaces/mcp-chat/plugins/mcp-chat/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

fix(mcp-chat): update package publishing config
  workspaces/mcp-chat/README.md
  workspaces/mcp-chat/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-agentgateway/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-amazon-bedrock/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-anthropic/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-azure-openai/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-gemini/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-litellm/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-ollama/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-openai-responses/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend-module-openai/package.json
  workspaces/mcp-chat/plugins/mcp-chat-backend/CHANGELOG.md
  workspaces/mcp-chat/plugins/mcp-chat-backend/README.md
  workspaces/mcp-chat/plugins/mcp-chat-backend/USAGE.md
  workspaces/mcp-chat/plugins/mcp-chat-backend/package.json
  workspaces/mcp-chat/plugins/mcp-chat-common/package.json
  workspaces/mcp-chat/plugins/mcp-chat-node/package.json
  workspaces/mcp-chat/plugins/mcp-chat/README.md
  workspaces/mcp-chat/plugins/mcp-chat/package.json
Owners: @alithya-oss/backstage-plugins-maintainers

docs(mcp-chat): updated backend README
  workspaces/mcp-chat/.changeset/moody-deer-admire.md
  workspaces/mcp-chat/.changeset/real-moles-arrive.md
  workspaces/mcp-chat/plugins/mcp-chat-backend/README.md
Owners: @alithya-oss/backstage-plugins-maintainers

chore: update api reports
  workspaces/argo-workflows/plugins/argo-workflows-react/report.api.md
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

fix(mcp-chat): remove duplicated skills
  .agents/skills/app-frontend-system-migration/SKILL.md
  .agents/skills/mui-to-bui-migration/SKILL.md
  .agents/skills/plugin-full-frontend-system-migration/SKILL.md
  .agents/skills/plugin-new-frontend-system-support/SKILL.md
Owners: @alithya-oss/backstage-plugins-maintainers

feat(argo-workflows): create a single shared component for dag
  workspaces/argo-workflows/plugins/argo-workflows-backend/src/service/ArgoWorkflowsService.ts
  workspaces/argo-workflows/plugins/argo-workflows/dev/index.tsx
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
  workspaces/argo-workflows/plugins/argo-workflows/src/components/DAGCanvas.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGInline.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/WorkflowDAGView.tsx
  workspaces/argo-workflows/plugins/argo-workflows/src/components/dagHelpers.ts
  workspaces/argo-workflows/plugins/argo-workflows/src/components/helpers.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

chore: update api reports
  workspaces/argo-workflows/plugins/argo-workflows/report-alpha.api.md
Owners: @alithya-oss/backstage-plugins-maintainers

feat: updated task status styling
  workspaces/argo-workflows/plugins/argo-workflows/src/components/TaskStatusBar.module.css
  workspaces/argo-workflows/plugins/argo-workflows/src/components/TaskStatusBar.tsx
Owners: @alithya-oss/backstage-plugins-maintainers

chore(argo-workflows): bump framework version 1.51.0
  workspaces/argo-workflows/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/argo-workflows/.yarnrc.yml
  workspaces/argo-workflows/backstage.json
  workspaces/argo-workflows/plugins/argo-workflows-react/package.json
  workspaces/argo-workflows/plugins/argo-workflows/src/components/TaskStatusBar.module.css
  workspaces/argo-workflows/yarn.lock
Owners: @alithya-oss/backstage-plugins-maintainers

docs(mcp-chat): update plugin documentation for layered architecture
  workspaces/mcp-chat/README.md
  workspaces/mcp-chat/plugins/mcp-chat-backend/README.md
  workspaces/mcp-chat/plugins/mcp-chat-common/README.md
  workspaces/mcp-chat/plugins/mcp-chat-node/README.md
  workspaces/mcp-chat/plugins/mcp-chat/README.md
Owners: @alithya-oss/backstage-plugins-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @alithya-oss/backstage-plugins-maintainers
yarn.lock                                           @alithya-oss/backstage-plugins-maintainers
*/yarn.lock                                         @alithya-oss/backstage-plugins-maintainers

/workspaces/aws                                     @alithya-oss/backstage-plugins-maintainers @fjudith @nizarajroud
/workspaces/changelog                               @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/confluence                              @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/rag-ai                                  @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/tech-insights                           @alithya-oss/backstage-plugins-maintainers @fjudith
/workspaces/time-saver                              @alithya-oss/backstage-plugins-maintainers @ionSurf
